@font-face {
    font-family: "Beef'd";
    src: url("../fonts/Beef'd.ttf");
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

html, body {
    padding: 0;
    margin: 0;
    color: white;
    background: black;
}

.section {
    min-height: 100vh;
}

.pong {
    background: black;
    position: relative;
}

/* Pong Animation */
.ball{
    float: left;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    margin-top: 60px;

    -webkit-animation: play_ball 3s linear infinite;
    animation: play_ball 3s linear infinite;
}

.left_paddle{
    float: left;
    width: 25px;
    height: 120px;
    background: white;

    -webkit-animation: left_pong 3s infinite;
    animation: left_pong 3s infinite;
}

.right_paddle{
    float:right;
    width:25px;
    height:120px;
    background:white;

    -webkit-animation: right_pong 3s infinite;
    animation: right_pong 3s infinite;
}

@-webkit-keyframes left_pong {
    0% {margin-top: 0px;}

    25%{margin-top: -webkit-calc(100vh - 120px);}
    25%{margin-top: calc(100vh - 120px);}

    80%{margin-top: -webkit-calc((100vh - 120px) / 2);}
    80%{margin-top: calc((100vh - 120px) / 2);}

    100%{margin-top: 0px;}
}

@-webkit-keyframes right_pong {
    0% {margin-top: -webkit-calc(100vh - 120px);}
    0% {margin-top: calc(100vh - 120px);}

    50%{margin-top: 0px;}

    100%{margin-top: -webkit-calc(100vh - 120px);}
    100%{margin-top: calc(100vh - 120px);}
}

@-webkit-keyframes play_ball{
    0% {margin-top: 60px; margin-left: 0px;}

    25%{margin-left: -webkit-calc(100vw - 80px); margin-top: -webkit-calc(100vh / 4);}
    25%{margin-left: calc(100vw - 80px); margin-top: calc(100vh / 4);}

    50%{margin-left: -webkit-calc(100vw / 2); margin-top: -webkit-calc(100vh - 30px);}
    50%{margin-left: calc(100vw / 2); margin-top: calc(100vh - 30px);}

    100%{margin-left:0px;}
}

.pong-info {
    position: absolute;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 180px;
}

.uncommon {
    text-transform: uppercase;
    font-size: 280%;
    font-family: "Beef'd";
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 700px;
}

.date, .location {
    display: block;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 150%;
}

.date {
    margin-top: 50px;
}

.location {
    margin-top: 10px;
}

.logo {
    margin-top: 70px;
    height: 100px;
}

.register {
    display: block;
    text-transform: uppercase;
    font-size: 130%;
    color: black;
    font-weight: 400;
    background: white;
    font-family: 'Montserrat';
    text-decoration: none;
    margin: 50px auto 0;
    width: 200px;
    padding: 15px 0 17px;
}


.pacman {
    background: #121949;
    position: relative;
}

/* Pacman Animation */
.pac-up {
    background-color:yellow;
    border-radius: 50px 50px 0 0;
    height: 25px;
    width: 50px;

    -webkit-animation: eat-up 0.5s infinite;
    animation: eat-up 0.5s infinite;
  }

  .pac-down {
    background-color: yellow;
    border-radius: 0 0 50px 50px;
    height: 25px;
    width: 50px;

    -webkit-animation: eat-down 0.5s infinite;
    animation: eat-down 0.5s infinite;
  }

.pac {
    padding-left: 50px;
    padding-top: 50px;
}

.pac-person {
    display: inline-block;

    -webkit-animation: move-pac 10s linear infinite;
    animation: move-pac 10s linear infinite;
}

.pacfood {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
}

.pac-food-1 {
    top: 70px;
    left: 150px;

    -webkit-animation: food-dis-1 10s linear infinite;
    animation: food-dis-1 10s linear infinite;
}

.pac-food-2 {
    top: 70px;
    right: 150px;

    -webkit-animation: food-dis-2 10s linear infinite;
    animation: food-dis-2 10s linear infinite;
}

.pac-food-3 {
    bottom: 70px;
    right: 150px;

    -webkit-animation: food-dis-3 10s linear infinite;
    animation: food-dis-3 10s linear infinite;
}

.pac-food-4 {
    bottom: 70px;
    left: 150px;

    -webkit-animation: food-dis-4 10s linear infinite;
    animation: food-dis-4 10s linear infinite;
}

@-webkit-keyframes food-dis-1 {
    0% {opacity: 1;}
    1% {opacity: 1;}
    2% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes food-dis-2 {
    0% {opacity: 1;}
    23% {opacity: 1;}
    24% {opacity: 0;}
    95% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes food-dis-3 {
    0% {opacity: 1;}
    51% {opacity: 1;}
    52% {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes food-dis-4 {
    0% {opacity: 1;}
    73% {opacity: 1;}
    74% {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes move-pac {
    0% {transform: translateX(0px);}

    25% {transform: translateX(-webkit-calc(100vw - 150px)) rotate(0deg);}
    25% {transform: translateX(calc(100vw - 150px)) rotate(0deg);}

    25.1% {transform: translateX(-webkit-calc(100vw - 150px)) rotate(90deg);}
    25.1% {transform: translateX(calc(100vw - 150px)) rotate(90deg);}

    50% {transform: translateX(-webkit-calc(100vw - 150px)) translateY(-webkit-calc(100vh - 150px)) rotate(90deg);}
    50% {transform: translateX(calc(100vw - 150px)) translateY(calc(100vh - 150px)) rotate(90deg);}

    50.1% {transform: translateX(-webkit-calc(100vw - 150px)) translateY(-webkit-calc(100vh - 150px)) rotate(180deg);}
    50.1% {transform: translateX(calc(100vw - 150px)) translateY(calc(100vh - 150px)) rotate(180deg);}

    75% {transform: translateY(-webkit-calc(100vh - 150px)) rotate(180deg);}
    75% {transform: translateY(calc(100vh - 150px)) rotate(180deg);}

    75.1% {transform: translateY(-webkit-calc(100vh - 150px)) rotate(270deg);}
    75.1% {transform: translateY(calc(100vh - 150px)) rotate(270deg);}

    99.9% {transform: rotate(270deg);}
    100% {transform: translateX(0px);}
}

  @-webkit-keyframes eat-up {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-35deg);}
  }

  @-webkit-keyframes eat-down {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(35deg);}
  }

/* SNEK */
.snake {
    background: #134633;
}

.snake-body {
    height: 4vh;
    width: 4vw;
    background: white;
    box-sizing: border-box;
    border: solid 0.1vh black;
}

.snake-game {
    padding-left: 4vw;
    padding-top: 4vh;
}

#s1 {
    -webkit-animation: move1 10s linear infinite;
    animation: move1 10s linear infinite;
}

#s2 {
    -webkit-animation: move2 10s linear infinite;
    animation: move2 10s linear infinite;
}

#s3 {
    -webkit-animation: move3 10s linear infinite;
    animation: move3 10s linear infinite;
}

#s4 {
    -webkit-animation: move4 10s linear infinite;
    animation: move4 10s linear infinite;
}

#s5 {
    -webkit-animation: move5 10s linear infinite;
    animation: move5 10s linear infinite;
}

#s6 {
    -webkit-animation: move6 10s linear infinite;
    animation: move6 10s linear infinite;
}

#s7 {
    -webkit-animation: move7 10s linear infinite;
    animation: move7 10s linear infinite;
}

#s8 {
    -webkit-animation: move8 10s linear infinite;
    animation: move8 10s linear infinite;
}

@-webkit-keyframes move1 {
    0% {transform: translateY(0px);}
    25% {transform: translateY(88vh);}
    50% {transform: translateY(88vh) translateX(88vw);}
    75% {transform: translateX(88vw);}
    100% {transform: translateY(0px);}
}

@-webkit-keyframes move2 {
    0% {transform: translateY(0px);}
    23.86% {transform: translateY(84vh);}
    48.86% {transform: translateY(84vh) translateX(88vw);}
    73.86% {transform: translateY(-4vh) translateX(88vw);}
    98.86% {transform: translateY(-4vh);}
    100% {transform: translateY(0px);}
}

@-webkit-keyframes move3 {
    0% {transform: translateY(0px);}
    22.73% {transform: translateY(80vh);}
    47.73% {transform: translateY(80vh) translateX(88vw);}
    72.73% {transform: translateY(-8vh) translateX(88vw);}
    97.73% {transform: translateY(-8vh);}
    100% {transform: translateY(0px);}
}

@-webkit-keyframes move4 {
    0% {transform: translateY(0px);}
    21.59% {transform: translateY(76vh);}
    46.59% {transform: translateY(76vh) translateX(88vw);}
    71.59% {transform: translateY(-12vh) translateX(88vw);}
    96.59% {transform: translateY(-12vh);}
    100% {transform: translateY(0px);}
}

@-webkit-keyframes move5 {
    0% {transform: translateY(0px);}
    20.45% {transform: translateY(72vh);}
    45.45% {transform: translateY(72vh) translateX(88vw);}
    70.45% {transform: translateY(-16vh) translateX(88vw);}
    95.45% {transform: translateY(-16vh);}
    100% {transform: translateY(0px);}
}

@-webkit-keyframes move6 {
    0% {transform: translateY(0px);}
    19.32% {transform: translateY(68vh);}
    44.32% {transform: translateY(68vh) translateX(88vw);}
    69.32% {transform: translateY(-20vh) translateX(88vw);}
    94.32% {transform: translateY(-20vh);}
    100% {transform: translateY(0px);}
}

@-webkit-keyframes move7 {
    0% {transform: translateY(0px);}
    18.18% {transform: translateY(64vh);}
    43.18% {transform: translateY(64vh) translateX(88vw);}
    68.18% {transform: translateY(-24vh) translateX(88vw);}
    93.18% {transform: translateY(-24vh);}
    100% {transform: translateY(0px);}
}

@-webkit-keyframes move8 {
    0% {transform: translateY(0px);}
    17.04% {transform: translateY(60vh);}
    42.04% {transform: translateY(60vh) translateX(88vw);}
    67.04% {transform: translateY(-28vh) translateX(88vw);}
    92.04% {transform: translateY(-28vh);}
    100% {transform: translateY(0px);}
}

/* Invaders */
.invaders {
    background: black;
}

.canon-outer {
    position: relative;
}

.canon {
    padding-left: 50px;
    padding-top: 50px;
    display: inline-block;

    margin-top: -webkit-calc(100vh - 120px);
    margin-top: calc(100vh - 120px);

    -webkit-animation: invader-move 10s linear infinite;
    animation: invader-move 10s linear infinite;

    position: relative;
}

.top {
    height: 5px;
    width: 3px;
    background-color: white;
    position: relative;
    left: 50px;
}

.mid {
    height: 12px;
    width: 12px;
    background-color: white;
    position: relative;
    left: 45px;
}

.thin-mid {
    height: 5px;
    width: 90px;
    background-color: white;
    position: relative;
    left: 5px;
}

.bottom {
    height: 20px;
    width: 100px;
    background-color: white;
}

.bullet {
    width: 3px;
    height: 40px;
    background: white;
    position: relative;
    left: 65%;
    opacity: 0;

    -webkit-animation: invader-shoot 10s linear infinite;
    animation: invader-shoot 10s linear infinite;

    position: absolute;
}

@-webkit-keyframes invader-move {
    0% {transform: translateX(0px);}

    50% {transform: translateX(-webkit-calc(100vw - 200px));}
    50% {transform: translateX(calc(100vw - 200px));}

    100% {transform: translateX(0px);}
}

@-webkit-keyframes invader-shoot {
    4.99% {opacity: 0;}
    5% {opacity: 1; transform: translateY(0px);}

    10% {transform: translateY(-webkit-calc((100vh - 70px) * -1)); opacity: 1;}
    10% {transform: translateY(calc((100vh - 70px) * -1)); opacity: 1;}

    10.01% {opacity: 0;}
    14.99% {opacity: 0;}
    15% {opacity: 1; transform: translateY(0px);}

    20% {transform: translateY(-webkit-calc((100vh - 70px) * -1)); opacity: 1;}
    20% {transform: translateY(calc((100vh - 70px) * -1)); opacity: 1;}

    20.01% {opacity: 0;}
    24.99% {opacity: 0;}
    25% {opacity: 1; transform: translateY(0px);}

    30% {transform: translateY(-webkit-calc((100vh - 70px) * -1)); opacity: 1;}
    30% {transform: translateY(calc((100vh - 70px) * -1)); opacity: 1;}

    30.01% {opacity: 0;}
    34.99% {opacity: 0;}
    35% {opacity: 1; transform: translateY(0px);}

    40% {transform: translateY(-webkit-calc((100vh - 70px) * -1)); opacity: 1;}
    40% {transform: translateY(calc((100vh - 70px) * -1)); opacity: 1;}

    40.01% {opacity: 0;}
    44.99% {opacity: 0;}
    45% {opacity: 1; transform: translateY(0px);}

    50% {transform: translateY(-webkit-calc((100vh - 70px) * -1)); opacity: 1;}
    50% {transform: translateY(calc((100vh - 70px) * -1)); opacity: 1;}

    50.01% {opacity: 0;}
    54.99% {opacity: 0;}
    55% {opacity: 1; transform: translateY(0px);}

    60% {transform: translateY(-webkit-calc((100vh - 70px) * -1)); opacity: 1;}
    60% {transform: translateY(calc((100vh - 70px) * -1)); opacity: 1;}

    60.01% {opacity: 0;}
    64.99% {opacity: 0;}
    65% {opacity: 1; transform: translateY(0px);}

    70% {transform: translateY(-webkit-calc((100vh - 70px) * -1)); opacity: 1;}
    70% {transform: translateY(calc((100vh - 70px) * -1)); opacity: 1;}

    70.01% {opacity: 0;}
    74.99% {opacity: 0;}
    75% {opacity: 1; transform: translateY(0px);}

    80% {transform: translateY(-webkit-calc((100vh - 70px) * -1)); opacity: 1;}
    80% {transform: translateY(calc((100vh - 70px) * -1)); opacity: 1;}

    80.01% {opacity: 0;}
    81.99% {opacity: 0;}
    82% {opacity: 1; transform: translateY(0px);}

    87% {transform: translateY(-webkit-calc((100vh - 70px) * -1)); opacity: 1;}
    87% {transform: translateY(calc((100vh - 70px) * -1)); opacity: 1;}

    87.01% {opacity: 0;}
    89.99% {opacity: 0;}
    90% {opacity: 1; transform: translateY(0px);}

    95% {transform: translateY(-webkit-calc((100vh - 70px) * -1)); opacity: 1;}
    95% {transform: translateY(calc((100vh - 70px) * -1)); opacity: 1;}

    95.01% {opacity: 0;}
}

