@font-face {
    font-family: "Beef'd";
    src: url("../fonts/Beef'd.ttf");
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

html, body {
    padding: 0;
    margin: 0;
    color: white;
    background: black;
}

.section {
    min-height: 100vh;
}

.pong {
    background: black;
    position: relative;
}

/* Pong Animation */
.ball{
    float: left;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    margin-top: 60px;
    -webkit-animation: play_ball 3s linear infinite;
}

.left_paddle{
    float: left;
    width: 25px;
    height: 120px;
    background: white;
    -webkit-animation: left_pong 3s infinite;
}

.right_paddle{
    float:right;
    width:25px;
    height:120px;
    background:white;
    -webkit-animation: right_pong 3s infinite;
}

@-webkit-keyframes left_pong {
    0% {margin-top: 0px;}
    25%{margin-top: -webkit-calc(100vh - 120px);}
    80%{margin-top: -webkit-calc((100vh - 120px) / 2);}
    100%{margin-top: 0px;}
}

@-webkit-keyframes right_pong {
    0% {margin-top: -webkit-calc(100vh - 120px);}
    50%{margin-top: 0px;}
    100%{margin-top: -webkit-calc(100vh - 120px);}
}

@-webkit-keyframes play_ball{
    0% {margin-top: 60px; margin-left: 0px;}
    25%{margin-left: -webkit-calc(100vw - 80px); margin-top: -webkit-calc(100vh / 4);}
    50%{margin-left: -webkit-calc(100vw / 2); margin-top: -webkit-calc(100vh - 30px);}
    100%{margin-left:0px;}
}

.pong-info {
    position: absolute;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 180px;
}

.uncommon {
    text-transform: uppercase;
    font-size: 280%;
    font-family: "Beef'd";
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 700px;
}

.date, .location {
    display: block;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 150%;
}

.date {
    margin-top: 50px;
}

.location {
    margin-top: 10px;
}

.logo {
    margin-top: 70px;
    height: 100px;
}

.register {
    display: block;
    text-transform: uppercase;
    font-size: 130%;
    color: black;
    font-weight: 400;
    background: white;
    font-family: 'Montserrat';
    text-decoration: none;
    margin: 50px auto 0;
    width: 200px;
    padding: 15px 0 17px;
}


.pacman {
    background: #121949;
    position: relative;
}

/* Pacman Animation */
.pac-up {
    background-color:yellow;
    border-radius: 50px 50px 0 0;
    height: 25px;
    width: 50px;
    -webkit-animation: eat-up 0.5s infinite;
  }

  .pac-down {
    background-color: yellow;
    border-radius: 0 0 50px 50px;
    height: 25px;
    width: 50px;
    -webkit-animation: eat-down 0.5s infinite;
  }

.pac {
    padding-left: 50px;
    padding-top: 50px;
}

.pac-person {
    display: inline-block;
    -webkit-animation: move-pac 10s linear infinite;
}

.pacfood {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
}

.pac-food-1 {
    top: 70px;
    left: 150px;
    -webkit-animation: food-dis-1 10s linear infinite;
}

.pac-food-2 {
    top: 70px;
    right: 150px;
    -webkit-animation: food-dis-2 10s linear infinite;
}

.pac-food-3 {
    bottom: 70px;
    right: 150px;
    -webkit-animation: food-dis-3 10s linear infinite;
}

.pac-food-4 {
    bottom: 70px;
    left: 150px;
    -webkit-animation: food-dis-4 10s linear infinite;
}

@-webkit-keyframes food-dis-1 {
    0% {opacity: 1;}
    1% {opacity: 1;}
    2% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes food-dis-2 {
    0% {opacity: 1;}
    23% {opacity: 1;}
    24% {opacity: 0;}
    95% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes food-dis-3 {
    0% {opacity: 1;}
    51% {opacity: 1;}
    52% {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes food-dis-4 {
    0% {opacity: 1;}
    73% {opacity: 1;}
    74% {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes move-pac {
    0% {transform: translateX(0px);}
    25% {transform: translateX();}
    25.1% {transform: translateX(-webkit-calc(100vw - 150px)) rotate(90deg);}
    50% {transform: translateX(-webkit-calc(100vw - 150px)) translateY(-webkit-calc(100vh - 150px)) rotate(90deg);}
    50.1% {transform: translateX(-webkit-calc(100vw - 150px)) translateY(-webkit-calc(100vh - 150px)) rotate(180deg);}
    75% {transform: translateY(-webkit-calc(100vh - 150px)) rotate(180deg);}
    75.1% {transform: translateY(-webkit-calc(100vh - 150px)) rotate(270deg);}
    99.9% {transform: rotate(270deg);}
    100% {transform: translateX(0px);}
}

  @-webkit-keyframes eat-up {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-35deg);}
  }

  @-webkit-keyframes eat-down {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(35deg);}
  }

.snake {
    background: #134633;
}

.snake-body {
    height: 28px;
    width: 28px;
    background: white;
    border: solid 1px black;
    margin-top: 1px;
}

.snake-game {
    padding-left: 50px;
    padding-top: 50px;
}

#s8 {
    -webkit-animation: move8 10s linear infinite;
}

#s7 {
    -webkit-animation: move7 10s linear infinite;
}

@-webkit-keyframes move8 {
    0% {transform: translateY(0px);}
    25% {transform: translateY(50vh);}
    50% {transform: translateX(90vw) translateY(50vh);}
    75% {transform: translateX(90vw);}
    100% {transform: translateX(0px);}
}

@-webkit-keyframes move7 {
    0% {transform: translateY(0px);}
    27.3% {transform: translateY(53.5vh);}
    50% {transform: translateX(90vw) translateY(53.5vh);}
    75% {transform: translateX(90vw);}
    100% {transform: translateX(0px);}
}

/* Invaders */
.invaders {
    background: black;
}

.canon-outer {
  padding-left: 50px;
  padding-top: 50px;
}

.canon {
  display: inline-block;
  margin-top: -webkit-calc(100vh - 120px);
  -webkit-animation: invader-move 10s linear infinite;
}

.top {
  height: 5px;
  width: 3px;
  background-color: white;
  position: relative;
  left: 50px;
}

.mid {
  height: 12px;
  width: 12px;
  background-color: white;
  position: relative;
  left: 45px;
}

.thin-mid {
  height: 5px;
  width: 90px;
  background-color: white;
  position: relative;
  left: 5px;
}

.bottom {
  height: 20px;
  width: 100px;
  background-color: white;
}


@-webkit-keyframes invader-move {
  0% {transform: translateX(0px);}
  50% {transform: translateX(-webkit-calc(100vw - 200px));}
  100% {transform: translateX(0px);}
}
